html {
html {
    background-color: #ffffff;
}
/*search bar*/
.topnav input[type=text] {
  float: right;
  padding: 0px;
  border: none;
  margin-top: 0px;
  margin-right: 30px;
  margin-leftt: 30px;
  font-size: 15px;
  font-family: system-ui;
  color: #525252;
}
/*.footer,
.push {
  height: 50px;
}*/
/*rounding image*/
img {
  border-radius: 50%;
}
/*avatar*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
p {
  margin: 25px 300px 75px 300px;
  font-family: system-ui;
  font-size: 25px;
  line-height: 30px;
  color: #525252;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: Helvetica;
}
h4 {
    margin: 25px 300px 75px 300px;
}
h2 {
    margin: 25px 300px 75px 300px;
}


body {
    font-family: system-ui;
}
footer {
    background: #ECE7E6;
    color: white;
    line-height: 90px;
    padding: 0px;
    text-align: center;
}
.active {
}
 ul {
   list-style-type: none;
   margin: 30px 265px 30px 225px;
   padding: 20;
   padding: 65;
   overflow: hidden;
   position: -webkit-sticky;
   position: sticky;
  top: 0;
  font-size: 20px;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
}
/* Change the link color on hover */
li a:hover {
  color: #ECE7E6;
}
/* lines */
hr {
   border-width: 0.01px;
   height: 0.02px;
   width: 60%;
}

.button {
  background-color: #ECE7E6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: system-ui;
  font-size: 16px;
}
