html, body {
  margin: 0;
  max-width: 100%;
  height: 100%;
  font-family: system-ui;
  color: #064800;
  background-color: #F9F7F3;
}
.nav {
  display: flex;
  background-color: #ffffff;
  align-content: flex-start;
}
#navs {
  margin-right: 5rem;
}
.name {
  align-self: flex-end;
  font-size: 1.8rem;
}
ul {
  background-color: #ffffff;
  list-style-type: none;
  overflow: hidden;
  top: 0;
  padding-top: .1vw;
  padding-bottom: .1vw;
  width: 100%;
  font-size: 1.2rem;
}
.landing-text {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25vh;
  padding-bottom: 45vh;
}
.landing-text h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
}
.landing-text h3 {
  font-size: 2rem;
  font-weight: 200;
}
.landing-text img {
  margin-left: 50vw;
  position: absolute;
  opacity: 50%;
}
.carousel {
  /* border: 2px solid red; */
  max-width: 40vw;
  max-height: 80vw;
  position: relative;
  margin: auto;
  padding-bottom: 4vh;
  margin-bottom: 6vh;
  box-sizing: border-box;
}
/* Hide the images by default */
.slide1, .slide2, .slide3 {
  display: none;
}
/* Position next and prev buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #064800;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* next button */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a green background */
.prev:hover, .next:hover {
  background-color: rgba(6,72,0,0.5);
}
.text {
  color: #064800;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-style: italic;
}
li {
  float: left;
}
li a {
  display: inline;
  color: #064800;
  text-decoration: none;
}
/* Change the link color on hover */
a:hover {
  color: #d2ccc5;
}
li a:hover {
  color: #d2ccc5;
}
.button {
  background-color: #ECE7E6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: system-ui;
  font-size: 16px;
}
 a div {
  margin-left: 100px;
 }
/* #email {
  on:hover display address
} */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#abt-title {
  align-self: flex-start;
  margin-left: 15vw;
}
#bio {
  display: flex;
  flex-direction: row;
}
#bio-text {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin-left: 15vw;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background: #ffffff;
  padding-top: 0.025vw;
  padding-bottom: 0.025vw;
}
#foot {
  margin: 1vw;
}
a {
  text-decoration: none;
}
a:visited {
  color: #064800;
}
#bio-text p {
  font-size: 2rem;
}
.carousel h3 {
  font-size: 2rem;
  font-weight: 300;
}
.carousel img.resize {
  width: 50%; /* you can use % */
  height: auto;
}
#about h3 {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
}
#bio-text a {
  font-size: 1.5rem;
}
#resume-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}
#resume-link #avi {
  margin-bottom: 2vh;
}
hr {
  width: 71%;
  border: 0.2px solid rgba(6,72,0,0.3);
}
#bg-img {
  width: 50%;
  position: fixed;
}
#resume-link a {
  color: #064800;
}

/* SCREEN.HTML */
.screen-flex {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
#screen-content {
  width: 70vw;
  margin-right: 3vw;
}
#screen-content h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: .1rem;
}
#screen-content p {
  line-height: 1.6rem;
  font-size: 1.2rem;
  font-kerning: 10%;
}
#screen-img-content {
  display: flex;
  /* padding: 5vmin; */
  gap: 4vmin;

  margin-right: 0;
}
.screen-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  padding-top: 0.025vw;
  padding-bottom: 0.025vw;
}

/* TOPO/HTML */
#screen-img-content iframe {
  margin-right: 4vmin;
  margin-left: 4vmin;
}