html, body {
  font-family: "system-ui";
  color: #000000;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
/* (change main font on website) */
body {
  background-image: url("images/nursery.png");
  background-repeat: no-repeat;
  background-size: 100% 800%;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 2vh;
}

.links-bar {
  bottom: 0px;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 1vw;
}

.links-bar img {
  padding-bottom: 0.8vw;
  width: 20px;
}

.nav {
  display: flex;
  align-content: flex-start;
}

#navs {
  padding-right: 5rem;
}

.name {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  font-size: 1.8rem;
  position: fixed;
  right: 0;
}

ul {
  list-style-type: none;
  overflow: hidden;
  top: 0;
  padding-top: .1vw;
  padding-bottom: .1vw;
  width: 100%;
  font-size: 1.2rem;
}

.landing-text {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: center;
  justify-content: space-between;
  margin: 20vh;
  padding-bottom: 45vh;
}

.landing-text h2 {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 3vh;
  padding-bottom: 5vh;
}

.landing-text h3 {
  font-size: 1.8rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.landing-text img {
  margin-top: 22vh;
  position: absolute;
  width: 3%;
}

#main1 {
  font-family: "Baskerville", serif;
}

#arrow {
  display: flex;
  align-self: center;
}

#arrow img {
  width: 20px;
}

.category-title-div h3 {
  font-size: 3.5vmin;
  font-family: "Baskerville", serif;
  font-weight: 200;
  text-align: center;
}

.category-title-div {
  border: 1.5px solid black;
  width: 100%;
  margin: 0;
  margin-bottom: 5vmin;
  padding: 0;
}

.work-grid {
  align-items: center;
  --w: 10px;
  --n: 2;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(clamp(100%/(var(--n) + 1) + 0.1%,var(--w),100%),1fr));
  margin-left: 8vw;
}

.work-grid-item {
  flex-direction: column;
  margin: 30px;
  max-width: 25vw;
  height: auto;
}

.work-grid-item h5 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1px;
  visibility: hidden;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 0;
}

.work-grid-item p {
  font-size: 16px;
  font-weight: 50;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.work-grid-item img {
  border-radius: 10px;
  margin: 0;
  object-fit: cover;
  padding: 0;
}

.work-grid-item iframe {
  border-radius: 10px;
  border: none;
  margin: 0;
  object-fit: cover;
  padding: 0;
}

.work-grid-item:hover h5 {
  visibility: visible;
}

.work-grid-item:hover p {
  visibility: visible;
}

#programming {
  margin-bottom: 5vh;
}

.text {
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-style: italic;
}

li {
  float: left;
  list-style-type: none;
}
li a {
  display: inline;
  color: #000000;
  text-decoration: none;
}

a {
  color: #000000;
}

a:hover {
  color: #d2ccc5;
}

li a:hover {
  color: #d2ccc5;
}

.button {
  background-color: #ECE7E6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: system-ui;
  font-size: 16px;
}

a div {
  margin-left: 100px;
}
/* #email {
  on:hover display address
} */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#abt-title {
  align-self: flex-start;
  margin-left: 15vw;
}

#bio {
  display: flex;
  flex-direction: row;
}

#bio-text {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin-left: 12vw;
}

#bio-text p {
  margin-right: 8vw;
  font-weight: 200;
  font-size: 2vmin;
}

#bio-text a:hover {
  font-style:italic;
}

.footer {

}

#foot {
}

a {
  text-decoration: none;
}

/* a:visited {
  color: #000000;
} */
.carousel h3 {
  font-size: 2rem;
  font-weight: 300;
}

.carousel img.resize {
  width: 40%; /* you can use % */
  height: auto;
}

#bio-text a {
  font-size: 2vmin;
}

#resume-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

#resume-link #avi {
  margin-bottom: 2vh;
}

hr {
  width: 71%;
  border: 0.2px solid rgba(6,72,0,0.3);
}
#bg-img {
  width: 50%;
  position: fixed;
}
.press {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 2vmin;
  margin: 0;
  margin-top: 5vh;
  padding: 0;
}
.press img {
  height: 20px;
  margin-left: 5px;
}
.press a {
  margin: 5px;
}
.press h2 {
  font-size: 3vmin;
  font-weight: 400;
}
.press li {
  margin-bottom: 30px;
}
.press ul {
  font-size: 2vmin;
  padding: 0;
  margin: 0;
}
/* SCREEN.HTML */
.screen-flex {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
#screen-content {
  width: 70vw;
  margin-right: 3vw;
}
#screen-content h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: .1rem;
}
#screen-content p {
  line-height: 1.6rem;
  font-size: 1.2rem;
  font-kerning: 10%;
}
#screen-img-content {
  display: flex;
  /* padding: 5vmin; */
  gap: 4vmin;

  margin-right: 0;
}
.screen-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  padding-top: 0.025vw;
  padding-bottom: 0.025vw;
}

/* TOPO/HTML */
#screen-img-content iframe {
  margin-right: 4vmin;
  margin-left: 4vmin;
}

/* GREENR.HTML */
.greenr-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 80%; */
  margin-left: 10vw;
  margin-right: 10vw;
}
.greenr-flex img {
  max-width: 50vw;
}
.greenr-flex p {
  max-width: 50vw;
  line-height: 3vh;
  font-size: 1.3rem;
  margin: 3%;
}
#quad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1vh;
}
#quad img {
  width: 30vw;
}
#sub {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.greenr-flex h6 {
  font-size: 1.8rem;
  font-weight: 300;
}
#giffy {
  display: flex;
  flex-direction: column;
  align-items:  center;
  width: 70%;
}

/* TWEET */
.projectBody {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.projectTitle {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  padding: 0 0 0 5vw;
}
.projectTags {
  align-items: center;
  border-left: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px 10px 0px 0px;
  width: 100%;
}
.projectTags p {
  border: 1px solid black;
  margin-left: 5px;
  padding: 0px 4px 0px 4px;
}
.projectPreview {
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  margin: 8vh 10vw 0 10vw;
  height: 60vh;
}

/* SENIOR PROJECT */
.entries {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.entry {
  border: 1px solid black;
  border-radius: 20px;
  margin: 50px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.entry img {
  height: 350px;
  width: auto;
}
.entry-title h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 6vh;
  font-weight: 300;
  margin: 0 0 20px 0;
  padding: 0;
}
.entry-title p {
  font-size: 1.8vh;
  font-weight: 200;
  margin: 0;
  padding: 0;
}
.entry-body p {
  font-family: "Baskerville", serif;
  font-size: 2.2vh;
  line-height: 3vh;
}
.flex-body-title {
  text-align: center;
}
.img-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 3vw);
  grid-gap: 10px;
}
.img-grid-item {
  display: flex;
  flex-direction: column;
}
.entry-body {
  margin-bottom: 0;
  padding-bottom: 0;
}